<div class="grid grid-cols-8 gap-10">
  <% @books.each do |book| %>
    <% global = book.biblio_book %>
      <div class="flex flex-col items-center">
        <img src= <%=  global.thumbnail%>>
      </div>
  <% end %>
</div>
